html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

    background-color: rgb(7, 30, 34);
}

div {
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/*
122, 231, 199 aqua
239, 111, 108 coral
7, 30, 34     blackish
56, 134, 151 blueish
247, 235, 232 whitish
*/